# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

maxClientCnxns=50
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5

# $FS_MOUNT_POINT stands for fully qualified Linux filesystem path 
# to the mount point where Hadoop folders and structures reside.
# For instance: /media/_media_1TB
# The directory where the snapshot is stored.
dataDir=$FS_MOUNT_POINT/zookeeper
# the port at which the clients will connect
# $HOST_ADDRESS stands for fully qualified host name, such as PC-1107.mycompany.com
clientPort=2181
server.0=$HOST_ADDRESS:2888:3888
